/crud/complete_backend/node_modules
/crud/complete_backend/package-lock.json

/crud/complete_frontend/node_modules
/crud/complete_frontend/package-lock.json


/ejs/node_modules
/ejs/package-lock.json

/express_js/node_modules
/express_js/package-lock.json


/mongodb/backend/node_modules
/mongodb/backend/package-lock.json

/mongodb/frontend/node_modules
/mongodb/frontend/package-lock.json

/npm/node_modules
/npm/package-lock.json

/react/myapp/node_modules
/react/myapp/package-lock.json

/react_new/my-app/node_modules
/react_new/my-app/package-lock.json

/reactTailwind/frontend/node_modules
/reactTailwind/frontend/package-lock.json

/redux/redux_toolkit/node_modules
/redux/redux_toolkit/package-lock.json

/tailwidncss/node_modules
/tailwidncss/package-lock.json

/todo_app/task_app/node_modules
/todo_app/task_app/package-lock.json

/todo_project/task_app/node_modules
/todo_project/task_app/package-lock.json

/weather_app/weather/node_modules
/weather_app/weather/package-lock.json


/blog_app_project/backend/node_modules
/blog_app_project/backend/package-lock.json

/blog_app_project/blog/node_modules
/blog_app_project/blog/package-lock.json